@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');


:root{
    --black: #192a56;
    --orange: #f95f1d;
    --yellow: #ffa801;
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;  
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


section{
    padding: 0 7%;
    padding-top: 7.5rem;
    padding-bottom: 3rem;
    min-height: 100vh;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2.5rem;
    font-size: 1.7rem;
    color: var(--yellow);
    border: .2rem solid var(--yellow);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--yellow);
    color: #fff;
}

.heading{
    text-align: center;
    color: var(--black);
    padding: 1rem;
    text-transform: uppercase;
    font-size: 4.5rem;
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    z-index: 1000;
}



header .logo{
    font-size: 2.5rem;
    color: #666;
    font-weight: bolder;
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2.5rem;
    color: var(--black);
}

header .navbar a:hover{
    color: var(--orange);
}

header #menu-bar{
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

















.home{
    display: flex;
    align-items: center;
    background: url(../images/home-bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;

}


.home .image{
    padding-top: 4rem;
    flex: 1 1 40rem;
}

.home .content{
    padding: 1rem;
    flex: 1 1 40rem;

}


.home .content h3{
    color: #fff;
    font-size: 5.5rem;
    text-transform: uppercase;
}

.home .content p{
    color: #fff;
    font-size: 1.7rem;
}

.home .image img{
    width: 100%;
}

.home .content .btn{
    color: #444;
    background: #fff;
}

.home .content .btn:hover{
    color: #fff;
    background: none;
    border-color: #fff;
}













.feature .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.feature .box-container .box{
    margin: 1rem;
    
    text-align: center;
    padding: 2rem 4rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    flex: 1 1 30rem;
}

.feature .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.feature .box-container .box p{
    font-size: 1.3rem;
    color: #666;
    padding-bottom: 1rem;
}








.service{
    background: var(--black);
}

.service .heading{
    color: #fff;
}

.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service .box-container .box{
    
    padding: 4rem;
    margin: 1rem;
    flex: 1 1 30rem;
    border: .1rem solid #fff;
    text-align: center;
}

.service .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #fff;
}

.service .box-container .box:hover{
    background: #fff;
}

.service .box-container .box:hover h3{
    color: var(--black);
}

.service .box-container .box:hover p{
    color: #666;
}
















.project .box-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.project .box-container .box{
    margin: 1rem;
    
    border: .1rem solid rgba(0, 0, 0, .2);
    overflow: hidden;
    height: 25rem;
    flex: 1 1 30rem;
    position: relative;
    cursor: pointer;
}

.project .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project .box-container .box .number{
    position: absolute;
    top: .2rem;
    right: 1.5rem;
    font-size: 5rem;
    color: rgba(0, 0, 0, .2);
    font-weight: bolder;
    z-index: 10;
}

.project .box-container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    transition: .3s ease-out;
    clip-path: circle(30% at 95% 0);
}

.project .box-container .box:hover::before{
    clip-path: circle(100%);
}

.project .box-container .box .info{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0;
}

.project .box-container .box:hover .info{
    transition-delay: .2s;
    opacity: 1;
    top: 50%;
}

.project .box-container .box .info h3{
    color: var(--black);
    font-size: 2.5rem;
}

.project .box-container .box .info p{
    color: #666;
    font-size: 2rem;
}